body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eaeeff;
}

/* Stile per il form */
#login-section,
#register-section-teacher,
#register-section-student {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    /* Bordo rotondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Ombra per un effetto elegante */
    width: 25%;
    text-align: center;
}

#login-section>h2,
#register-section-student>h2,
#register-section-teacher>h2 {
    padding: 10px;
    font-size: 32px;
    color: #687aff;
}

#formLogin>p,
#formRegister>p {
    font-size: 15px;
    color: #ccc;
}

/* Stile per i campi di input */
input[type="text"],
input[type="password"],
input[type="email"],
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    /* Bordo rotondo */
    border: 2px solid #ddd;
    box-sizing: border-box;
}

.file-label {
    color: #687aff;
}

.file-label:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Stile per il pulsante */
button {
    width: 100%;
    padding: 10px;
    background-color: #687aff;
    color: #fff;
    border: none;
    border-radius: 10px;
    /* Bordo rotondo */
    cursor: pointer;
    font-size: 16px;
    transition: all 200ms;
}

button:hover {
    transform: scale(1.01);
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.materia-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.materia-wrapper input[type="text"].materia {
    width: 90%;
    flex-grow: 1;
}

.info-materie-btn {
    width: 11%;
    min-width: 30px;
    height: 46px;
    padding: 0;
    font-size: 18px;
    background-color: transparent;
    color: #888;
    border: 2px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

/* Modifica la larghezza del pop-up */
.swal2-popup {
    width: 80% !important;
    /* 80% della larghezza della finestra */
}

.swal2-title {
    text-align: center;
    /* Centra il titolo */
}

.swal2-html-container {
    font-size: 16px;
    /* Impostiamo la dimensione del testo */
    color: #333;
    /* Colore del testo */
}

.swal-materie-popup {
    width: 80% !important;
    /* Allargamento del pop-up */
}

.swal-materie-title {
    font-size: 20px;
    font-weight: bold;
    color: #007BFF;
    /* Colore personalizzato per il titolo */
}

/* Contenitore per disponibilità lezioni */
.disponibilita-lezioni {
    text-align: left;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

/* Stile per le label e i checkbox */
.disponibilita-lezioni label {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 500;
    color: #444;
}

.disponibilita-lezioni input[type="checkbox"] {
    transform: scale(1.2);
    accent-color: #687aff;
    margin-left: 5px;
    cursor: pointer;
}

#prefix {
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

.telefono-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.telefono-wrapper select {
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

.telefono-wrapper input[type="tel"] {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

#hint {
    color: rgba(0, 0, 0, 0.2);
}